@{
    Layout = "~/Views/Shared/View.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
   

</head>

<body>

   
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Dashboard</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <div class="card widget-box-one border border-primary bg-soft-primary">
                                <div class="card-body">
                                    <div class="float-right avatar-lg rounded-circle mt-3">
                                        <i class="mdi mdi-chart-areaspline font-30 widget-icon rounded-circle avatar-title text-primary"></i>
                                    </div>
                                    <div class="wigdet-one-content">
                                        <p class="m-0 text-uppercase font-weight-bold text-muted" title="Statistics">Regd. Student</p>
                                        <h2><span data-plugin="counterup">750</span> <i class="mdi mdi-arrow-up text-success font-24"></i></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->

                        <div class="col-xl-4 col-md-6">
                            <div class="card widget-box-one border border-warning bg-soft-warning">
                                <div class="card-body">
                                    <div class="float-right avatar-lg rounded-circle mt-3">
                                        <i class="mdi mdi-layers font-30 widget-icon rounded-circle avatar-title text-warning"></i>
                                    </div>
                                    <div class="wigdet-one-content">
                                        <p class="m-0 text-uppercase font-weight-bold text-muted" title="User This Month">Total Employee</p>
                                        <h2><span data-plugin="counterup">70 </span> <i class="mdi mdi-arrow-up text-success font-24"></i></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->

                        <div class="col-xl-4 col-md-6">
                            <div class="card widget-box-one border border-success bg-soft-success">
                                <div class="card-body">
                                    <div class="float-right avatar-lg rounded-circle mt-3">
                                        <i class="mdi mdi-av-timer font-30 widget-icon rounded-circle avatar-title text-success"></i>
                                    </div>
                                    <div class="wigdet-one-content">
                                        <p class="m-0 text-uppercase font-weight-bold text-muted" title="Statistics">Statistics</p>
                                        <h2><span data-plugin="counterup">1730 </span> <i class="mdi mdi-arrow-up text-success font-24"></i></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card-box">

                                <h4 class="header-title mb-4">Daily Sales</h4>

                                <div class="widget-chart text-center">
                                    <div id="morris-donut-example" class="morris-charts" style="height: 245px;"></div>
                                    <ul class="list-inline chart-detail-list mb-0">
                                        <li class="list-inline-item">
                                            <h6 class="text-danger"><i class="fa fa-circle mr-2"></i>Series A</h6>
                                        </li>
                                        <li class="list-inline-item">
                                            <h6 class="text-success"><i class="fa fa-circle mr-2"></i>Series B</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->

                        <div class="col-xl-4">
                            <div class="card-box">

                                <h4 class="header-title mb-4">Statistics</h4>
                                <div id="morris-bar-example" class="text-center morris-charts" style="height: 280px;"></div>
                            </div>
                        </div>
                        <!-- end col -->

                        <div class="col-xl-4">
                            <div class="card-box">

                                <h4 class="header-title mb-4">Total Revenue</h4>
                                <div id="morris-line-example" class="text-center morris-charts" style="height: 280px;"></div>
                            </div>
                        </div>
                        <!-- end col -->

                    </div>
                    <!-- end row -->

                </div>
                <!-- end container-fluid -->

            </div>
            <!-- end content -->
            </div>
       
</body>


</html>