@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
    <title>Beta Centauri (P) Ltd.</title>

</head>
<body>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <header class="entry-header">
                    <h1 class="entry-title">About Us</h1>
                </header>
                <!-- .entry-header -->
            </div>
            <!--row #end  -->
        </div>
    </div>
    <!-- Breadcrumb #end -->

    <div class="page-spacer clearfix">
        <div class="container">
            <div class="row">

                <div class="col-sm-7 col-md-6">
                    <h2 class="head-border-default">Our Objectives </h2>
                    <p>To engage in the business of developing products and providing services in the field of information technology and technology-enabled applications including training for software and hardware both in India and overseas. </p>
                </div>

                <div class="col-sm-7 col-md-6 online-course">
                    <article class="post hentry">
                        <blockquote class="post-quote">
                            <h4>Founder's Message</h4>
                            <i class="fa fa-quote-left"></i>
                            <p>It is my pleasure to introduce you to Beta centauri Pvt. Ltd .It is basically a software training and development company in the eastern part of Odisha. Our approach in to the world of software is humble yet confident. We are ever ready to accept challenge and explore possibility with emerging technology to meet customer needs. For us, every piece of work is a mission and each customer is a valuable asset. At the same time, We acknowledge and act for benifits of the others stakeholders apart from customers, We believe that the growth of Beta centauri Pvt.Ltd is only possible to the growth of the three major stake holders that is customer, employee and society . We would like to introduce 5 core values of the company that is Quality, Cost effectiveness, Integrity, Team work and socially responsible. Every Beta centaurian is aware of and committed to maintain these core values throughout the journey of the company. Finally we assure you of the best possible experiences at Beta centauri Pvt.Ltd . As we humbly accept that the growth of company starts with customer satisfaction.We are committed to create opportunities for all. This is our hallmark and this a part of our DNA.</p>
                            <i class="fa fa-quote-right"></i>
                            <footer>Sarat Chandra Behera (Director)</footer>
                        </blockquote>
                    </article>
                </div>

            </div>
            <!--row #end  -->
        </div>
        <!-- container #end -->
    </div>
    <!-- page-spacer #end  -->

    <section class="howitworks">
        <div class="container">
            <div class="row">

                <div class="work-steps">
                    <div class="col-xs-12 col-sm-4">
                        <div class="steps">
                            <h3>Mission</h3>
                            <p>We Provide training and services aligned with the best line of technology and method.</p>
                            <i class="fa fa-search-plus"></i>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="steps">
                            <h3>Vision</h3>
                            <p>Becoming a respectable software training and service provider creating opportunities for each and every stakeholder .</p>
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="steps">
                            <h3>Values</h3>
                            <p>we believe in the following values -</p>
                            <ul class="bullet">
                                <li>Quality</li>
                                <li>Cost Effective</li>
                                <li>Integrity</li>
                                <li>Teamwork</li>
                                <li>Socially Responsible</li>
                            </ul>
                            <i class="fa fa-book"></i>
                        </div>
                    </div>
                </div>
                <!-- work-steps #end -->

            </div>
            <!--row #end  -->
        </div>
        <!-- container #end -->
    </section>
    <!-- meet-teachers #end -->
    <!-- #colophon -->
    <!-- loginform popup start -->
    <div id="login-form" style="display: none;">
        <h3>Login</h3>
        <p>Please login here</p>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab1">Member Login</a></li>
            <li><a data-toggle="tab" href="#tab2">Admin Login</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active">
                <form id="login" action="#">
                    <input name="email" type="text" placeholder="Email or Username" class="mb-3" />
                    <input name="password" type="text" placeholder="Password" />

                    <div class="row remeber">
                        <label><input name="rember" type="checkbox" value="" /> Remember Me</label>
                    </div>
                    <div class="text-center button">
                        <input name="Login" type="button" value="Login" />
                    </div>
                </form>
            </div>
            <div id="tab2" class="tab-pane fade">
                <form id="login" action="#">
                    <input name="email" type="text" placeholder="Email or Username" class="mb-3" />
                    <input name="password" type="text" placeholder="Password" />

                    <div class="row remeber">
                        <label><input name="rember" type="checkbox" value="" /> Remember Me</label>
                    </div>
                    <div class="text-center button">
                        <input name="Login" type="button" value="Login" />
                    </div>
                </form>
            </div>
        </div>

    </div>


</body>

</html>