
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
    <title>Beta Centauri (P) Ltd.</title>

</head>
<body>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <header class="entry-header">
                    <h1 class="entry-title">Events</h1>
                </header>
                <!-- .entry-header -->
            </div>
            <!--row #end  -->
        </div>
    </div>
    <!-- Breadcrumb #end -->

    <div class="page-spacer clearfix">
        <div class="container">
            <div class="row">

                <main id="main" class="site-main col-xs-12">

                    <h3 class="head-border-default">Events</h3>

                    <ul class="thumbnails gallery">
                        <li class="col-xs-12 col-xs-3" data-tag='web-devloping'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_01.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_01.jpg" />
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-3" data-tag='music'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_02.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_02.jpg" />
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-3" data-tag='frontend'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_03.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_03.jpg" />
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-3" data-tag='web-devloping'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_04.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_04.jpg" />
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-3" data-tag='music'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_05.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_05.jpg" />
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-3" data-tag='frontend'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_06.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_06.jpg" />
                            </a>
                        </li>
                        <li class="cols-xs-12 col-xs-3" data-tag='web-devloping'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_07.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_07.jpg" />
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-3" data-tag='music'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_08.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_08.jpg" />
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-3" data-tag='music'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_09.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_09.jpg" />
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-3" data-tag='web-devloping'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_10.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_10.jpg" />
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-3" data-tag='web-devloping'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_11.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_11.jpg" />
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-3" data-tag='web-devloping'>
                            <a class="fancybox-effects-a" href="images/use_img/gallery_12.jpg" rel="next">
                                <img alt="" src="~/images/use_img/gallery_12.jpg" />
                            </a>
                        </li>
                    </ul>

                </main>

            </div>
            <!--row #end  -->
        </div>
        <!-- container #end -->
    </div>
    <!-- page-spacer #end  -->
    <!-- #colophon -->
    <!-- loginform popup start -->
    <div id="login-form" style="display: none;">
        <h3>Login</h3>
        <p>Please login here</p>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab1">Member Login</a></li>
            <li><a data-toggle="tab" href="#tab2">Admin Login</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active">
                <form id="login" action="#">
                    <input name="email" type="text" placeholder="Email or Username" class="mb-3" />
                    <input name="password" type="text" placeholder="Password" />

                    <div class="row remeber">
                        <label><input name="rember" type="checkbox" value="" /> Remember Me</label>
                    </div>
                    <div class="text-center button">
                        <input name="Login" type="button" value="Login" />
                    </div>
                </form>
            </div>
            <div id="tab2" class="tab-pane fade">
                <form id="login" action="#">
                    <input name="email" type="text" placeholder="Email or Username" class="mb-3" />
                    <input name="password" type="text" placeholder="Password" />

                    <div class="row remeber">
                        <label><input name="rember" type="checkbox" value="" /> Remember Me</label>
                    </div>
                    <div class="text-center button">
                        <input name="Login" type="button" value="Login" />
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- loginform popup #end -->
    <!-- register popup start -->


</body>

</html>
