@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
    <title>Beta Centauri (P) Ltd.</title>
</head>
<body>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <header class="entry-header">
                    <h1 class="entry-title">Internship / Final Year Project</h1>
                </header>
                <!-- .entry-header -->
            </div>
            <!--row #end  -->
        </div>
    </div>
    <!-- Breadcrumb #end -->

    <div class="page-spacer clearfix">
        <div id="primary">
            <div class="container">
                <div class="row">
                    <main id="main" class="site-main col-xs-12 col-sm-12">
                        <h3 class="head-border-default">Internship / Final Year Project</h3>

                        <div class="well well-sm row">
                            <div class="col-xs-12 col-sm-5 sorting">
                                <label>Sort by:</label>
                                <select name="popularity" id="popularity">
                                    <option value="">Popularity</option>
                                    <option value="">New</option>
                                    <option value="">A to Z</option>
                                    <option value="">Z to A</option>
                                </select>
                            </div>

                            <div class="btn-group">
                                <a href="#" id="list" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-th-list">
                                    </span>
                                </a> <a href="#" id="grid" class="btn btn-default btn-sm active">
                                    <span class="glyphicon glyphicon-th"></span>
                                </a>
                            </div>
                        </div>

                        <div id="products" class="list-group">
                            <div class="row">

                                <div class="col-xs-12 col-sm-3 zoom three-column courses grid-group-item">
                                    <div class="course clist">
                                        <a class="img-thumb " href="#">
                                            <figure>
                                                <img alt="" src="~/images/use_img/course_dotnet_sm.jpg">
                                            </figure>
                                        </a>

                                        <div class="course_space">
                                            <div class="price"><i class="fa fa-rupee">&nbsp;</i>3,500<span></span></div>
                                            <h3><a href="#">.Net</a></h3>
                                            <p class="meta">Duration: 5 Months</p>
                                            <p class="desc">Maecenas cursus mauris libero, a imperdi dolor site amet enim pellentesque id. Aliquam erat volutpat.</p>
                                        </div> <!--course #end -->

                                        <div class="course_rel">
                                            <div class="course_rating col-xs-12 col-sm-6">
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                            </div>

                                            <!-- <p class="enroll col-xs-12 col-sm-6">18.4K Enrolled</p> -->
                                        </div>

                                    </div>  <!--course space #end -->
                                </div> <!-- course #end -->



                                <div class="col-xs-12 col-sm-3 zoom three-column courses grid-group-item">
                                    <div class="course clist">
                                        <a class="img-thumb video_player" href="#">
                                            <figure>
                                                <img alt="" src="~/images/use_img/course_java_sm.jpg">
                                            </figure>
                                        </a>

                                        <div class="course_space">
                                            <div class="price"><i class="fa fa-rupee">&nbsp;</i>3,500<span></span></div>
                                            <h3><a href="#">Java</a></h3>
                                            <p class="meta">Duration: 5 Months</p>
                                            <p class="desc">Maecenas cursus mauris libero, a imperdi dolor site amet enim pellentesque id. Aliquam erat volutpat.</p>
                                        </div> <!--course #end -->

                                        <div class="course_rel">
                                            <div class="course_rating col-xs-12 col-sm-6">
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                            </div>

                                            <!-- <p class="enroll col-xs-12 col-sm-6">18.4K Enrolled</p> -->
                                        </div>

                                    </div>  <!--course space #end -->
                                </div> <!-- course #end -->



                                <div class="col-xs-12 col-sm-3 zoom three-column courses grid-group-item">
                                    <div class="course clist">
                                        <a class="img-thumb " href="#">
                                            <figure>
                                                <img alt="" src="~/images/use_img/course_python_sm.jpg">
                                            </figure>
                                        </a>

                                        <div class="course_space">
                                            <div class="price"><i class="fa fa-rupee">&nbsp;</i>3,500<span></span></div>
                                            <h3><a href="#">Python</a></h3>
                                            <p class="meta">Duration: 5 Months</p>
                                            <p class="desc">Maecenas cursus mauris libero, a imperdi dolor site amet enim pellentesque id. Aliquam erat volutpat.</p>


                                        </div> <!--course #end -->

                                        <div class="course_rel">
                                            <div class="course_rating col-xs-12 col-sm-6">
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                            </div>

                                            <!-- <p class="enroll col-xs-12 col-sm-6">18.4K Enrolled</p> -->
                                        </div>

                                    </div>  <!--course space #end -->
                                </div> <!-- course #end -->


                                <div class="col-xs-12 col-sm-3 zoom three-column courses grid-group-item">
                                    <div class="course clist">
                                        <a class="img-thumb " href="#">
                                            <figure>
                                                <img alt="" src="~/images/use_img/course_php_sm.jpg">
                                            </figure>
                                        </a>

                                        <div class="course_space">
                                            <div class="price"><i class="fa fa-rupee">&nbsp;</i>3,500<span></span></div>
                                            <h3><a href="#">PHP</a></h3>
                                            <p class="meta">Duration: 5 Months</p>
                                            <p class="desc">Maecenas cursus mauris libero, a imperdi dolor site amet enim pellentesque id. Aliquam erat volutpat.</p>
                                        </div> <!--course #end -->

                                        <div class="course_rel">
                                            <div class="course_rating col-xs-12 col-sm-6">
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                            </div>

                                            <!-- <p class="enroll col-xs-12 col-sm-6">18.4K Enrolled</p> -->
                                        </div>

                                    </div>  <!--course space #end -->
                                </div> <!-- course #end -->



                                <div class="col-xs-12 col-sm-3 zoom three-column courses grid-group-item">
                                    <div class="course clist">
                                        <a class="img-thumb " href="#">
                                            <figure>
                                                <img alt="" src="~/images/use_img/course_iot_sm.jpg">
                                            </figure>
                                        </a>

                                        <div class="course_space">
                                            <div class="price"><i class="fa fa-rupee">&nbsp;</i>3,500<br><div class="price-qote">(Excluding H/W)</div><span></span></div>
                                            <h3><a href="#">IOT</a></h3>
                                            <p class="meta">Duration: 5 Months</p>
                                            <p class="desc">Maecenas cursus mauris libero, a imperdi dolor site amet enim pellentesque id. Aliquam erat volutpat.</p>
                                        </div> <!--course #end -->

                                        <div class="course_rel">
                                            <div class="course_rating col-xs-12 col-sm-6">
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                                <i class="glyphicons glyphicon-star"></i>
                                            </div>

                                            <!-- <p class="enroll col-xs-12 col-sm-6">18.4K Enrolled</p> -->
                                        </div>

                                    </div>  <!--course space #end -->
                                </div> <!-- course #end -->


                            </div> <!-- row #end -->
                        </div> <!-- product list #end -->

                    </main><!-- #main -->

                </div>
            </div>
        </div>
    </div>
    <!-- page-spacer #end  -->
    <!-- #colophon -->
    <!-- loginform popup start -->
    <div id="login-form" style="display: none;">
        <h3>Login</h3>
        <p>Please login here</p>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab1">Member Login</a></li>
            <li><a data-toggle="tab" href="#tab2">Admin Login</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active">
                <form id="login" action="#">
                    <input name="email" type="text" placeholder="Email or Username" class="mb-3" />
                    <input name="password" type="text" placeholder="Password" />

                    <div class="row remeber">
                        <label><input name="rember" type="checkbox" value="" /> Remember Me</label>
                    </div>
                    <div class="text-center button">
                        <input name="Login" type="button" value="Login" />
                    </div>
                </form>
            </div>
            <div id="tab2" class="tab-pane fade">
                <form id="login" action="#">
                    <input name="email" type="text" placeholder="Email or Username" class="mb-3" />
                    <input name="password" type="text" placeholder="Password" />

                    <div class="row remeber">
                        <label><input name="rember" type="checkbox" value="" /> Remember Me</label>
                    </div>
                    <div class="text-center button">
                        <input name="Login" type="button" value="Login" />
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>

</html>
